div#day {
    top: 176px;
    left: 140px;
    width: 812px;
    height: 723px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #E8E5E8;
    /* border: 0.5px solid #CFCFD6; */
    border-radius: 10px;
    opacity: 1;
}